# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.pytest_cache/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv/
venv/
env/

# Secrets & Credentials
.env
credentials.json
token.json

# Logs
*.log

# IDE & System Files
.idea/
.vscode/
.DS_Store

